 <h4>Get credit for your feedback!</h4>
 If you sign up now, you will get credit for your feedback that will help you see the<br> anonymous tips about you that we may have already received.
<!-- </br> -->

<div class="row row_margin">

  <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-power" href="<%=new_registration_path(resource_name)%>">Sign up to see FREE <br>Reputation Report and Score</a>
  </div>
 


   <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-sign"  href="<%=root_path%>">No,Thanks. I m ok starting from scratch</a>
  </div>

 
 </div>

<div style="text-align:center;padding-right: 579px;">OR</div><br>

<div class="row row_margin">
<div class="col-xs-3">
          <a class="btn btn-blocking btn-lg btn-info" href="<%=new_advice_contact_path(resource_name)%>">I want to give tips to another person now<br> without signing up</a>
</div></br></br></br></br></br></br>  
</div>
