<% if params[:case] == '1' %>

  <%# @access_tips = AccessReputationTip.where('user_id = ?', params[:id])%>

  <%#if @access_tips.first.give_feedback < 1 && @access_tips.first.give_ratings < 1 && 
  	   @access_tips.first.vote_on_tips < 5 && @access_tips.first.give_selfimage < 1 && 
  	   @access_tips.first.got_feedback < 5 && @access_tips.first.invite_other < 5 %>
	  <p>None. Your participation level meets the minimum. To view your Reputation Report and tips you must have to: <br/>
	  a.     Give feedback and ratings to at least 1 person <br/>

	  b.     Next, judge the quality of 5 tips. <br/>

	  c.     Next, provide your self-image ratings on the 7 factors <br/>

	  d.     Invite at least 5 people</p> <br/>
  <%#else%>
    <%#if @access_tips.first.give_feedback >= 1 && @access_tips.first.give_ratings >= 1 && @access_tips.first.vote_on_tips >= 5 && @access_tips.first.give_selfimage >= 1 && @access_tips.first.got_feedback < 5 && @access_tips.first.invite_other >= 5 %>

        <%#= <p>"None. Your participation level meets the minimum. However, we need to anonymize the feedback on you, by waiting for at least 5 people to do so. When that happens, you will have access to your Reputation Report and Tips.  If you want to speed up or make sure you get feedback from at least 5 people, invite as many people as you can to give you feedback. Since you're already logged in, you might as well use this session to keep up with your community contribution to the feedback system."</p> %>
        <br/>
    <%#end%>
  <%#end%>
<%else%>
  <p>None. Your participation level meets the minimum. To view your Reputation Report and tips you must have to: <br/>
  a.     Give at least 10 feedbacks. <br/>

  b.     Provide 25 votes on others people's tips . <br/>

  c.     Invite at least 3 (general or for feedback) </p> <br/>
<%end%> 