Your Power Group 

 <%= form_tag add_power_group_relationships_path, :method => :post do %> 
  <table class="table table-bordered">
    <tr>
      <th>Email</th>      
    </tr>
  <% @relationships.each do |relationship| %>
    <tr>
       <td><%= relationship.email %> </td>
       
    </tr>
  <% end %>
    
  </table>


 <%= submit_tag "submit" ,:class => "btn btn-primary"%>
 <%= link_to "Give Tip",new_tip_path  ,:class => "btn btn-primary"%>
<% end %>












