
 <%= form_tag add_feedback_relationships_path, :method => :post do %> 
  <table class="table table-bordered">
    <tr>
      <th>Email</th> 
      <!-- <th>Give Tip</th>      -->
    </tr>
  <% @relationships.each do |relationship| %>
    <tr>
       <td><%= relationship.email %> </td>
       
       <td><%= link_to "Give Tip",new_tip_path(:email => relationship.email )  ,:class => "btn btn-primary"%></td> 
    </tr>
  <% end %>
    
  </table>

<%#= link_to "submit", my_mirror_paste_users_path,:class => "btn btn-primary" %>
 <%#= submit_tag "submit" ,:class => "btn btn-primary"%>
 
<% end %>

