
<%= form_tag add_feedback_relationships_path,:html =>{:id =>"relationship"}, :method => :post do %> 


<table class="table table-bordered">
  <thead>
    <tr>
    <th> </th>
      <th>Email</th>      
      <th colspan="1"></th> 
    </tr>
  </thead>

  <tbody>
  <!-- <%# @relationships.each do |relationship| %> -->
  <% @contacts.each do |relationship| %>
      <tr>
        <td><%= check_box_tag "relationship_ids[]", relationship.id %></td>
        <td><%= relationship.email %> &nbsp&nbsp&nbsp&nbsp</td>
        
       <td><%= link_to 'Create Relationship', new_relationship_path(:email => relationship.email),:class => 'btn btn-primary'  %></td>
        
       
      </tr>      
    <% end %>
     


   <!-- <%#= submit_tag "Select Email",:onclick =>"if(!this.form.checkbox.checked){alert('Please agree to the terms and services.');return false}",:class =>"btn btn-primary" %></p> -->

  </tbody>
</table>
<% end %>
  <%#= link_to 'New Relationship', new_relationship_path, :class => 'btn btn-primary'  %>





                     