  <!-- <h6>Custom factors suggested by your sponsor</h6> -->

<%= form_for(@sponsee) do |f| %>
  <% if @sponsee.errors.any? %>
    <div id="error_explanation">
      
      <% @sponsee.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>



Approve <input type="checkbox" id="checkbox1"/>
<div id="autoUpdate" class="autoUpdate">
<h6>Custom factors suggested by your sponsor</h6>
 <% name = Circle.find(UserInvitation.find_by_email(current_user.email).circle_id).name %>
 <% sponser =  Sponser.where("name like ?", name).first %>
 <% sponser.id %>

<div class="row">
<div class="col-xs-5">
<table class="table table-bordered">
 
 <tr>
    <th>Sr no.</th>
    <th>Custom Factor</th>
 </tr>


  <% sponser.sponsercfs.each_with_index do |s,index|%>


  <tr>
    <td> <%= index+1 %> </td>
    <td> <%= s.custom_factor %></td>
  </tr>
  <% end %>
  </table>
  </div>
  </div>
 </div>




<script>
$(document).ready(function(){
$('#checkbox1').change(function(){
if(this.checked)
$('#autoUpdate').fadeIn('fast');
else
$('#autoUpdate').fadeOut('fast');

});
});
</script>





<% end %>