<h4>Congratulations!  Your setup is<br> complete.</h4><br><br>




Whew!  You have completed all the steps required to qualify for the initial view of your<br> Reputation Report and the tips at your plan level.<br><br> 

 

However, we need enough feedback to anonymize the tips about you, so we need at<br> least five people who have given you feedback so far, and the voting on their tips<br> completed.  It appears that has not happened yet.<br><br> 

 

If you are eager to see your feedback, we'd recommend you invite more people now <br>because sometimes people just forget to respond. The more you<br> invite, the faster you will see your tips.<br><br>


<div style="float:center;padding: 30px;"><%= link_to "SEE 4 WAYS TO GET YOUR FEEDBACK FASTER",invite_paste_users_path,:class=>"btn btn-primary" %></div>