<h2>Try it for yourself</h2><br><br>

Before you view your Reputation Report and tips we will take you through a<br> few hands-on steps so we make sure there is enough community<br> participation and you understand how this all works!<br><br>


<div style="float:right;padding: 30px;"><%= link_to 'CONTINUE SETUP',indiv2_individuals_path,:class=>"btn btn-primary" %></div>
