<h4>Invite to anonymize</h4><br><br>

Before you view your Reputation Report and tips we will take you through a few <br> hands-on steps to make sure there is enough community participation and so you get <br>a feel for how this all works!<br><br><br>




Although there may be tips already waiting for you, we need you to <strong>invite at least 5 <br>people to give you feedback.</strong>  The more you invite, the faster you will see your tips.<br> We need enough feedback to anonymize the tips about you. You can invite them from<br> your social networks or by their emails.<br><br><br>


 <div style="margin-bottom:15px;">
<a href="#" id="invite_fb_friends",  class = "btn btn-facebook">Invite your friends through Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/paste_users/new" class="btn btn-google-plus">Add by emails</a><br/>
</div>


 <div style="float:right;padding: 30px;"><%= link_to "CONTINUE",indiv7_individuals_path,:class=>"btn btn-primary" %></div>


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
$(function(){
    $("a#invite_fb_friends").click(function(){
        FB.init({
        appId: '536335443133989',
        status: true,
        cookie: false,
        // xfbml: true
        });

FB.ui({
method: 'apprequests',
message: 'has invite you to connect to mirror360.com'});
});
});
</script>

