<h4>Congratulations!  Your setup is<br> complete.</h4><br><br>




Whew!  You have completed all the steps required to qualify for the initial view of your<br> Reputation Report and the tips at your plan level.<br><br> 

 

<strong>At least five people have given you feedback so far.</strong>  So that means you have<br> immediate access to your Reputation Report and tips at your plan level in your My Mirror<br> dashboard.<br><br>  

 

If you are eager to see your feedback, we'd recommend you invite more people now <br>because sometimes people just forget to respond.<br><br>

<div style="float:center;padding: 10px;"><%= link_to "SEE 4 WAYS TO GET YOUR FEEDBACK, FASTER",invite_paste_users_path,:class=>"btn btn-primary" %></div>

<div style="float:center;padding: 30px;width:10px"><%= link_to "TAKE ME TO MY MIRROR",my_mirror_paste_users_path,:class=>"btn btn-primary",:style=>"width:400px" %></div>