<h4>You are signed out. Visit soon to view more <br>feedback about you.</h4>
<div class="row row_margin">

  <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-sign" href="<%=new_user_session_path%>">Sign in Again or as a Different User</a>
  </div>
 


   <div class="col-xs-3">
    <%= link_to "Will you help us improve so we can serve you better?", new_feedback_path, remote: true, :class=>"just_reload btn btn-block btn-lg btn-sign" %>
          <!--  -->
  </div>

 
 </div>
<<<<<<< HEAD
=======


>>>>>>> 8164271384e50212a2edb0a03fea649c09f7223e
