
<footer>
	
	<div class="bottom-menu white-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="padding:20px 0">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
          
            <%= link_to "Contact us", contactus_pages_path%>&nbsp; &nbsp; &nbsp;
             <a  href="/pages/term_condition"> Terms & Conditions </a>&nbsp; &nbsp; &nbsp;
            <a  href="/pages/privacypolicy"> Privacy Policy </a>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
             Copyright © 2014 Mirror 360
          </div>

         
        </div>
      </div>
    </div>
	
	</footer>