 <h4>Know what matters.<h4>
<div style="color:#D02;font-size:19px;">Succeed at Anything through Awareness</div><br>
<%= javascript_include_tag "jquery-1.9.1.js"%>
 


 <div class="row row_margin">
   <div class="col-xs-6">
   <div class="tile" style="background:#D2691E">
   <h6> <div><%= link_to "Sign up to see anonymous tips already in your FREE Report and Score", new_registration_path(resource_name), :style=>"color:#FFFFFF;" %></div></h6>
   </div>
</div> 
 
 </div>
 


 <div class="row row_margin">

      

  <div class="col-xs-3" style="width: 20%;">
        
        <div class="tile" style="background:#008B8B;padding: 22px;">           
  <h6><div><%= link_to "I want to become more successful",  home_individual_path,:style=>"color:#FFFFFF;" %></div></h6>
    

        </div>
      </a>   
        </div>
  

  <div class="col-xs-3" style="width: 20%;">
        
        <div class="tile" style="background:#4AC ;padding: 9px;">           
          <h6> <div><%= link_to "I want my organization or team to become more successful", home_organization_path,:style=>"color:#FFFFFF;" %></div></h6>
    

        </div>
      </a>    
        
  </div>    
 
 </div>


   
</div>
    