Welcome to user dashboard

<%= form_for Invitation.new do |f| %>
  <p>
    <%= f.label :recipient_email, "Your Email:" %>
    <%= f.text_field :recipient_email %>
    <%= f.submit 'Invite' %>
  </p>
<% end %>



