<h4>Thank you for completing your profile. <br> Your discovery begins!</h4><br><br>


<div class="row row_margin">

  <div class="col-xs-3"style="height: 80%;">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" href="#">I am more interested in feedback on myself</a>
  </div>
 


   <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-help" style="width:137%;" href="#">I am more interested in my  team or<br> organization getting better feedback </a>
  </div>

 
 </div>
