<h6> Help Section </h6>

 <div class="row row_margin">
  
<div class="col-xs-3" style="width: 20%;">
       <a href="/home/faq" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background: #1E90FF  ;padding: 10px;">           

     <h6>FAQ</h6>

        </div>
      </a>          
 </div>
  

<a href="<%= home_contactus_path %>">
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">

   <h6><div> <span style="color:#FFFFFF;font-size:21px;"> Contactus </span</div></h6>
   
        </div>
  </div>  
  </a>  
 </div>
 
 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
       <a href="/home/term_condition" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E ;padding: 10px;">           

     <h6>Terms & Conditions</h6>

        </div>
      </a>          
 </div>
  


<div class="col-xs-3" style="width: 20%;">
       <a href="/home/privacypolicy" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#1E90FF;padding: 23px;">           

     <h6>Privacy Policy</h6>

        </div>
      </a>          
 </div>
  


  
 
 </div>
   
 
 
 


  
    <!-- /.container -->
	