
 
 <h6> Help Section </h6>

 <div class="row row_margin">
 
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;">           

    <h6><div><a href="/pages/7" style="color:#FFFFFF; font-size:21px;">FAQ</a></div></h6>


        </div>
  </div>
		
		

  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           

   <h6><div> <%= link_to "Contactus", home_contactus_path  ,:style=>"color:#FFFFFF;font-size:21px;"%></div></h6>

        </div>
  </div>		
 
 </div>
 


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">    

    <h6><div> 
        <a href="/pages/1" style="color:#FFFFFF; font-size:21px;">Terms&Conditions</a>
      </div></h6> 


        </div>
  </div>


  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;"> 

 <h6><div> 
        <a href="/pages/8" style="color:#FFFFFF; font-size:21px;">Privacy Policy</a>
      </div></h6> 
        </div>
  </div>

  
 
 </div>
   
 
 
 

	
	  
  
    <!-- /.container -->
	