<h4>How Mirror 360 Works</h4><br><br>

<div class="row row_margin">

  <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" style = "height: 70px" href="<%=home_how_it_works_for_me_path %>">How It Works for me</a>
  </div>
 


   <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-help" style="width:137%;" href="<%= home_how_it_works_for_my_team_path %>">How It Works for My Team or Organization</a>
  </div>

 
 </div>
 
