<style>
.cndn {
    color: #c0c0c0;
    float: left;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 50px;
    left: -2em;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    top: -2px;
    width: 14px;
}
</style>
<h4>How does Mirror 360 work for me?</h4>


<div class="row row_margin">

<div class="col-xs-3" style="width: 60%;" align-center>
        <div class="cndn">1</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal;text-align:left"class="just_reload"><strong>Those who know you through social networks (or have your email) can leave feedback for you even before you join.</strong>
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
     <div class="cndn">2</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px;margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong> Feedback can be ratings or tips (comments).  Tips will be checked for quality, using our innovative checking method.</strong> 
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
    <div class="cndn">3</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px;margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>Only you can access your feedback. Join Mirror 360, verify your identity and complete the setup so there is enough feedback in the system.</strong>
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
    <div class="cndn">4</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px;margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>You can view your Reputation Report and Score for free. The number of tips you can view depends on your plan. There is a free forever plan.</strong>
        </div>
        </div>
</div> 
</div>

<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
    <div class="cndn">5</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px;margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong> Help us help the world!  Your recent activity on Mirror 360 will earn you M$ which can count towards an upgrade @ $1 = M$ 10.</strong>
        </div>
        </div>
</div> 
</div>










<div class="row row_margin">

<div class="col-xs-3">
          <a class="btn btn-blocking btn-lg btn-power" href="<%=new_registration_path(resource_name)%>" style="loat: none;
margin-left: 30%;">Sign up to see anonymous <br>tips already in your FREE Report and Score</a>
</div>
</div>

<div class="row row_margin">
<div class="col-xs-3">
          <a class="btn btn-blocking btn-lg btn-info" href="<%=new_advice_contact_path%>" style="loat: none;
margin-left: 30%;">Anonymously give helpful tips to<br> someone now without signing up</a>
</div></br></br></br></br></br></br>  
</div>



