<style>
.cndn {
    color: #c0c0c0;
    float: left;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 50px;
    left: -2em;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    top: -2px;
    width: 14px;
}
</style>
<h4>How does it work for my team or organization?</h4>

<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
   <div class="cndn">1</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>You sign up and invite at least 5 members of your team or organization. If they join and access their Reputation Report, they qualify for a FREE trial for 60 days.</strong>
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
   <div class="cndn">2</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>The 360-degree feedback can be ratings or tips (comments).  Tips will be checked for quality, using our innovative checking method. </strong> 
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
   <div class="cndn">3</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>Any user can sponsor other users by paying, which will allow the sponsor to optionally suggest a set of custom factors to the sponsees.</strong> 
        </div>
        </div>
</div> 
</div>


<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
   <div class="cndn">4</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong>The sponsees may choose to approve or reject the custom factors. If approved, then all coworkers who rate the sponsees will see these custom factors.</strong>
        </div>
        </div>
</div> 
</div>

<div class="row row_margin">
<div class="col-xs-3" style="width: 60%;">
   <div class="cndn">5</div>
        <div class="tile" style="background:#C0C0C0;padding: 10px; margin-left: 40px;"> 
        <div style="color:#000000; font-size:15px; font-style: normal; text-align:left"class="just_reload"><strong> The sponsor won't know the identities of users, but will get aggregate usage stats. For Unlimited plan, sponsor only pays for users active in the last 3 months.</strong>
        </div>
        </div>
</div> 
</div>



<div class="row row_margin">
  <div class="col-xs-3">
          <a class="btn btn-blocking btn-lg btn-rejected" href="#" style="loat: none;
margin-left: 30%;padding: 24px;">Start a FREE trial for my team or organization</a>
  </div>
</div>

<div class="row row_margin">
  <div class="col-xs-3">

    <a class="btn btn-blocking btn-lg btn-info" href="<%=new_advice_contact_path(resource_name)%>" style="loat: none;
margin-left: 30%;">Anonymously give helpful tips<br/> to someone now without signing up</a>
  </div>
  </br></br></br></br></br></br>
</div>

 
