<div class="col-xs-4">
<h3>Import Users</h3>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV File",:class => "btn btn-primary" %>
<% end %>
</div>


