<div class="col-xs-4">
Import Users
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV File",:class => "button button-primary" %>
<% end %>
</div>