<div class="row row_margin">
   <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= new_user_registration_path%>">Get Started</a>
  </div>
   <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= home_learn_more_path%>">Learn More</a>
  </div>


  

  </div>

<div class="row row_margin">
 
 <div class="col-xs-12"> <h4>Curious about how others really see you? Can't grow if you don't know. </h4></div>
  <div class="col-xs-12"> 
 Get anonymous tips to become more self-aware.  Tips from friends, colleagues and other circles. There may be tips already waiting for you, and they are FOR YOUR EYES ONLY!  Enhance your personal and professional success starting today.
 
 </div>

 </div>
 
 
 <div class="row row_margin">
 <div class="col-xs-6">
          <div class="tile" style="background:#d35400">
           
        <h9><div href="#" style="color:#FFFFFF"><%= link_to "See tips in your FREE Reputation Report and Score", new_user_registration_path,:style=>"color:#FFFFFF;" %></div></h9>
       </div>
        </div>
    
 <div class="col-xs-6">
          <div class="tile" style="background:#2980b9">
           
        <h9><div href="#" style="color:#FFFFFF"><%= link_to "I want to anonymously give constructive tips to someone now", new_advice_contact_path,:style=>"color:#FFFFFF;" %></div></h9>
       </div>
        </div>



 
 
 </div>
 
 
  <div class="row row_margin">
 <div class="col-xs-3">

 </div>
 
 <div class="col-xs-6">
<img src="/assets/individuals.jpg" alt="">
 </div>
 
 <div class="col-xs-3">

 </div>
  </div>
 
 <div class="row row_margin">
 
 </div>
</div>
    <!-- /.container -->