
<div class="row row_margin">
 
 <div class="col-xs-12"> <h4>Curious about how others really see you?<br> Can't grow if you don't know. </h4></div>
  <div class="col-xs-12"> 
 Get anonymous tips to become more self-aware.  Tips from friends, colleagues and other circles. There may be tips already waiting for you, and they are FOR YOUR EYES ONLY!  Enhance your personal and professional success starting today.
 
 </div>

 </div>
 
 <div class="row row_margin">

  <div class="col-xs-6">
    <%= link_to "Sign up now to see tips in your FREE Reputation Report and Score", new_user_registration_path,:class=>"btn btn-block btn-lg btn-power"%>
          <!-- <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" href="<%=home_how_it_works_for_me_path %>">How It Works for me</a> -->
  </div>
   <div class="col-xs-6">
    <%= link_to "Anonymously give helpful tips to someone now without signing up", new_advice_contact_path,:class=>"btn btn-block btn-lg btn-info" %>
          <!-- <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" href="<%=home_how_it_works_for_me_path %>">How It Works for me</a> -->
  </div>
</div>
<!--  -->
  <div class="col-xs-12"> <h4>What does Mirror 360 do? It saves feedback from those you know in various circles. Only you can see it. </h4></div>
  <div class="row row_margin">
 <div class="col-xs-3">

 </div>
 
 <div class="col-xs-6">
<img src="/assets/individuals.jpg" alt="">
 </div>
 
 <div class="col-xs-3">

 </div>
  </div>
 
 <div class="row row_margin">
 
 </div>
</div>
    <!-- /.container -->