<div class="row row_margin">
 
 <div class="col-xs-12"> <h4>Curious about how others really see you? Can't grow if you don't know. </h4></div>
  <div class="col-xs-12"> 
 Get anonymous tips to become more self-aware.  Tips from friends, colleagues and other circles. There may be tips already waiting for you, and they are FOR YOUR EYES ONLY!  Enhance your personal and professional success starting today.
 
 </div>

 </div>
 
 
 <div class="row row_margin">
 
  <a href="<%= new_user_registration_path %>">
 <div class="col-xs-6">
          <div class="tile" style="background:#e74c3c">
	 <h4><div><span style="color:#FFFFFF;font-size:28px;"> See tips in your FREE Reputation Report and Score</span></div></h4>

          </div>
        </div>
		<a>


		<a href="<%= home_tip_rating_path %>">
		<div class="col-xs-6">
          <div class="tile" style="background:#3498db">
		<h4><div><span style="color:#FFFFFF;font-size:28px;"> I want to anonymously give constructive tips to someone now</span></div></h4>
          </div>
        </div>
		<a>
		
 
 </div>
 
 
  <div class="row row_margin">
 <div class="col-xs-3">

 </div>
 
 <div class="col-xs-6">
<img src="/assets/individuals.jpg" alt="">
 </div>
 
 <div class="col-xs-3">

 </div>
  </div>
 
 <div class="row row_margin">
 
 </div>
</div>
    <!-- /.container -->