
 <h4>Plans</h4>
  <%= stylesheet_link_tag "style1.css" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

  <section id="pricePlans">
    <ul id="plans">
      <li class="plan plan-highlight">
        <ul class="planContainer" style="padding:10.5px 1px 34px">
          <li class="title"><h2>Personal</h2></li>
                   
          <li class="price"><p>Free Forever<span></span></p></li>
          <li>
            <ul class="options">
              <li> <span>For the Mildly Curious</span></li>
                            <li>5 tips/year<span> </span></li>
                            <li> <span>ALL other Pro features included!</span></li>
              <li> NOTE: For each referral in any plan, both get a free tip. 60-day FREE trial if sponsoring 5 others. Details below.<span>   </span></li>
              <li> <span></span></li>
              <li> <span></span></li>
              <li> <span></span></li>
            </ul>
          </li>
          <li class="button"><a href="#">Sign Up</a></li>
        </ul>
      </li>

      <li class="plan plan-highlight">
        <ul class="planContainer" style="padding:10.5px 1px 34px">
          <li class="title"><h2 class="bestPlanTitle">Pro</h2></li>
          <li class="price"><p class="bestPlanPrice">$3/month</p></li>
          <li>
            <ul class="options">
                        <li> <span>For the Definitely Intrigued</span></li>
              <li>24 tips/year <span></span></li>
                            <li> <span>Key Features:</span></li>
              
                            <li>Approved and Sensitive Tips <span></span></li>
                            <li>Ratings on Standard Factors<span></span></li>
              <li>Reputation Report, Score <span></span></li>
              <li>Power Group Feedback <span></span></li>
              
            </ul>
          </li>
          <li class="button"><a class="bestPlanButton" href="#">Sign Up</a></li>
        </ul>
      </li>

      <li class="plan plan-highlight">
        <ul class="planContainer"style="padding:10.5px 1px 34px">
          <li class="title"><h2>Unlimited</h2></li>
          <li class="price"><p>$5/<span>month</span></p></li>
          <li>
            <ul class="options">
              <li> <span>True Believers, Business Users</span></li>
                            <li>Unlimited Tips <span></span></li>
                            <li> <span>ALL Pro features, PLUS:</span></li>
              
                            <li>Competency Library <span></span></li>
                            <li>Ratings on Custom Factors <span></span></li>
                            <li>Circle Report, Score<span></span></li>
                            
              
              <li>Prorated Billing <span></span></li>
              
            </ul>
          </li>
          <li class="button"><a href="#">Sign Up</a></li>
        </ul>
      </li>

      
    </ul> <!-- End ul#plans -->
  </section>
  
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
        <h4>Confused By Plan Terms?</h4>
        <strong>What's a Tip?</strong><br>
            A tip is a comment (could be praise, criticism or a<br> general comment) that someone has left for you.
          </p>
        </td>

        


        <td width="50%" valign="top">
        <h4>Still Have Questions?</h4>
        <strong>Who can give me feedback?</strong><br>
            Anyone who knows you well enough to know your email<br> address or is connected to you on a social network can <br> give you feedback. As well as anyone you encourage <br> to give you feedback. People can leave feedback for <br> you even if you haven't joined Mirror 360 yet. Only <br>verified users of an email account will see the feedback<br> linked to it. 
        </td><br><br>
    </tr>

    <tr>
      <td width="50%" valign="top">
        <strong>What are Approved vs Sensitive Tips?</strong><br>
            Each tip is voted on by randomly chosen users who <br>just see the text of the tip. If the first two voters<br> agree whether it is helpful and appropriate, that is<br> the decision, or it goes to a 3rd voter. Approved tips<br> are called Approved, and the others are called <br>Sensitive, since they may require advanced <br>emotional skills to handle.
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>What's a Referral?</strong><br>
            A successful referral happens when someone views<br> their Reputation Report after joining Mirror 360 because <br>of your general invite or feedback invite. Sponsored <br>invites do not count. For each referral, you get a free<br> tip, as does the person your referred. 
        </td><br><br>
    </tr>

    <tr>
      <td width="50%" valign="top">
        <strong>What's my Reputation Report and Score?</strong><br>
            It shows your ratings on various factors as <br>well as your Reputation Score, as well as which factors are<br> raising or lowering your score. It also links you to<br> guidance on how to develop yourself on the factors<br> that are lowering your score.
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>When can I see my initial feedback?</strong><br>
            You can see your feedback after you have completed <br>setup and have received feedback from at least 5 <br> people, to ensure anonymity. The setup process walks<br> you through how Mirror 360 works through real<br> participation.
        </td>
    </tr>



    <tr>
      <td width="50%" valign="top">
        <strong>What's Power Group Feedback?</strong><br>
            "Power Group Feedback" is your feedback (tips and<br> ratings) just from those whose views matter the <br>most to you. You have to receive feedback from at<br> least 15 people to be eligible to see Power Group <br>feedback.

 
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>What is the Competency Library?</strong><br>
            A list of factors you can pick from for custom factors (if <br>you have the Unlimited Plan).  The default we use are<br> the eight factors of Google's Project Oxygen, but you<br> can pick any from the library or create your own.
        </td>
    </tr>



    <tr>
      <td width="50%" valign="top">
        <strong>How is my Power Group chosen?</strong><br>
            To maintain their anonymity, your Power Group's <br>size and composition is chosen by the system,<br> based on your inputs and other factors.
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>What is Sponsoring?</strong><br>
            Sponsoring is when someone other than yourself is<br> paying for your Mirror 360 plan. If they are doing so, it<br> allows them to suggest a group of custom factors that<br> should be seen by one circle of your raters (usually <br>coworkers). You have the ability to approve or reject<br> them. Sponsoring does not allow the sponsor to see<br> your feedback, or even know if you are using Mirror<br> 360. If someone sponsors 30 people, the sponsor will<br> know how many of the 30 is using Mirror 360, but not<br> who.
        </td>
    </tr>


    <tr>
      <td width="50%" valign="top">
        <strong>What are Standard Factors and Custom Factors?</strong><br>
            Raters can rate you on a 1-10 scale on 7 standard<br> factors, such as being trustworthy, emotionally<br> mature, performing well, etc. Our Unlimited Plan<br> allows adding up to 10 custom factors that you wish<br> to be rated on in a circle of your choosing.
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>What is Prorated Billing?</strong><br>
            Prorated billing is available only to those in the<br> Unlimited Plan. This means that the person will be<br> billed for the subscription only if they have viewed their<br> Tips or Reputation Report in the last 3 months.
        </td>
    </tr>


    <tr>
      <td width="50%" valign="top">
        <strong>What's a Circle? </strong><br>
            A circle is the category for your contacts, such as <br>Friends, Family, Coworkers, Acquaintances,<br> Classmates, etc
          </p>
        </td>

        <td width="50%" valign="top">
        <strong>I have more questions. Who do I ask?</strong><br>
            Check out our support page, or you can email us at<br> contact@mirror360.com.
        </td>
    </tr>

    <tr>
      <td width="50%" valign="top">
        <strong>What's my Circle Report? </strong><br>
           Circle Report is the same as a Reputation Report,<br> but is based only on the feedback from just one<br> circle (typically coworkers)
          </p>
        </td>
      </tr>
</table>