
 <h4>Plans</h4>

 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
       <a  style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0  ;padding: 48px;">           

     <strong>Free Forever</strong>
      
        </div>
      </a>          
 </div>
  
   
  <div class="col-xs-3" style="width: 20%;">
        <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#5B7;padding: 48px;">           

     <strong>Recommended</strong>

        </div>
      </a>
  </div>

  <div class="col-xs-3" style="width: 20%;">
    <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 34px;">           

    <strong>Heavy Users or Business Users</strong>

    </div>

    </a>
  </div>  

   


 </div>
 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
         <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 19px;">           

     <h5>Personal</h5>
     <h4>Free</h4>
     9 tips/year<br>
     Reputation Report<br>
     Reputation Score<br>
     Power Group<br>
     7 Standard Factors</br></br></br></br></br></br>
        <div class="tile" style="background:##FFFFFF;padding: 10px;"> 
        <div style="color:#000000; font-size:12px; font-style: normal; text-align:left"class="just_reload">Plus, for each referral* you both get a free tip!
        </div>
        </div></br>

        <div class="tile"  style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>

       </div>
      </a> 
   </div>
  <div class="col-xs-3" style="width: 20%;">
        <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 21px;">           

     <h5>Pro</h5>

     <h4>$1.99/mo<br></h4>
      (billed annually, or $4/mo)<br>
        
      24 tips/year<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      Sensitive access*<br>
      Circle Report, Score<br>

      </br><div class="tile" style="background:##FFFFFF;padding: 10px;"> 
        <div style="color:#000000; font-size:12px; font-style: normal; text-align:left"class="just_reload">Plus, for each referral* you both get a free tip!
        </div>
        </div></br>

       <div class="tile" style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
        </div>
      </a>   
        </div>

 <div class="col-xs-3" style="width: 20%;">
       <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 17.5px;">           

     <h5>Unlimited</h5>
     <h4>$3.33/mo<br></h4>
      (billed annually, or $5/mo)
        
      Unlimited tips<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      10 Custom Factors**<br>
      Competency Library<br>
      Prorated Sponsoring<br>
      Circle Report, Score<br>

      <div class="tile" style="background:##FFFFFF;padding: 10px;"> 
        <div style="color:#000000; font-size:12px; font-style: normal; text-align:left"class="just_reload">Sponsor 5+ users to a 60-day free trial
        </div>
        </div></br>        


       <div class="tile" style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
        </div>

      </a>          
 </div>

 

</div> <br>


 </div> 
</div>

 <div align="center" style="width: 74%;">
   
   *A referral happens when someone who views their Reputation Report after joining Mirror <br>360 because of your general invite or feedback invite.Sponsored invites do not count.<br>
  *"Power Group" is your feedback just from those whose views matter the most to you.Circle </br>Score & Report is based on feedback from just one coworkers.<br>
   **"Sensitive access" is access to tips that were voted unhelpful so may require advanced </br>emotional skills to handle.<br>
 Ratings on 7 Standard Factors: Trustworthy, Kind/Helpful, Has Ability/Potential,Performs </br>
 Well, Persuasive/Presentable, Emotionally Mature,Friendly/Social.<br>
   Add up to 10 custom ratings, such as the eight factors of Google's Project Oxygen. 
   </div>

