<div class="row row_margin">
 
 <div class="col-xs-12"> <h4>Boost your employee engagement and productivity by supporting their personal development. </h4></div>
  <div class="col-xs-12"> 
 Feedback to make your employees, teams and leaders more self-aware and successful.  Tips from colleagues and other circles accumulate over time and they can be seen by the recipient only.
 
 </div>

 </div>
 
 
 <div class="row row_margin">
 
 <div class="col-xs-6">
          <div class="tile" style="background:#f39c12">
            

		<h4><a href="#" style="color:#FFFFFF">Show me how Mirror 360 is best for my organization </a></h4>

	

          </div>
        </div>
		
		
		<div class="col-xs-6">
          <div class="tile" style="background:#9b59b6">
            

		<h4><a href="#" style="color:#FFFFFF">Start a FREE trial for my team or organization</a></h4>

	
          </div>
        </div>
		
		
 
 </div>
 
   <div class="row row_margin">
   <div class="col-xs-12">
   
   <h5>Get 80% of the benefit of a more complex 360 tool with 20% of the effort. </h5>
   
   </div>
   
   <div class="col-xs-3">
	</div>
   
   <div class="col-xs-6">
   
  <img src="/assets/u28.png" alt="">
   
   </div>
   
   <div class="col-xs-3">
   </div>
   
   
   
   <div class="col-xs-12">
   
   <h5>Problems Mirror 360 helps your organization solve.</h5>
   
   </div>
   
   
   <div class="col-xs-12">
   
   <ul>
   <li>Over 70% of employees are not truly engaged </li>
   <li>Employees, managers and leaders are not as self-aware (and hence, productive) as they can be</li>
   <li>Even slightly connecting a 360-degree feedback program to formal performance evaluation and compensation systems (in-house or external) has negative effects</li>
   <li>Despite assurances, most who give feedback assume that their feedback is not completely anonymous – they feel their employer might be able to identify them</li>

   </ul>
   </div>
   
   
   
   </div>
   
 
 <div class="row row_margin">
 

 </div>
 

	
	  
    </div>
    <!-- /.container -->
	