
<div class="row row_margin">
 
 <div class="col-xs-12"> <h4>Boost your employee engagement and productivity by supporting their personal development. </h4></div>
  <div class="col-xs-12"> 
 Feedback to make your employees, teams and leaders more self-aware and successful.  Tips from colleagues and other circles accumulate over time and they can be seen by the recipient only.
 
 </div>

 </div>
 
 
 
 <div class="row row_margin">

  <div class="col-xs-6">
   <%= link_to "Start a FREE trial for my team or organization", new_registration_path(resource_name),:class=>"btn btn-block btn-lg btn-rejected",:style=>"loat: none;margin-left: 45%;" %>
          <!-- <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" href="<%=home_how_it_works_for_me_path %>">How It Works for me</a> -->
 </div>
 
</div>


		 
		<div class="text" >
          <p style="color:#593C97"  >Why Is a Simpler 360 Better?&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp; Problems We Solve For You</p>
        </div>
      <div class="text" >
          <p></p>
        </div>
      <p style="color:#593C97"  align="center">Why is Mirror 360 Your Best Choice?</p>
 
   <div class="row row_margin">
   <div class="col-xs-12">
   
   <h5>Get 90% of the benefit of a more complex 360 tool with 10% of the effort. </h5>
   
   </div>
   
   <div class="col-xs-3">
	</div>
   
   <div class="col-xs-6">
   
  <img src="/assets/u28.png" alt=""><br>
   
   </div>
   
   <div class="col-xs-12">
    <ul>
    <p><li> There are diminishing returns from long questionnaires - key insights can be obtained in just a few minutes of honest feedback. Your employees will thank you for a simpler 360!</li>
    <p><li>Complexity does not imply sophistication. Mirror 360's simplicity is elegant, insightful and powerful.  Google's big data driven Project Oxygen (which we use as a default for custom factors)  found just 8 primary drivers of great management.</li>
    </ul>
   </div>
   
   
   
   <div class="col-xs-12">
   
   <h5>Problems Mirror 360 helps your organization solve.</h5>
   
   </div>
   
   
   <div class="col-xs-12">
   
   <ul>
   <li>Over 70% of employees are not truly engaged </li><p>
   <li>Employees, managers and leaders are not as self-aware (and hence, productive) as they can be</li><p>
   <li>Even slightly connecting a 360-degree feedback program to formal performance evaluation and compensation systems (in-house or external) has negative effects</li><p>
   <li>Despite assurances, most who give feedback assume that their feedback is not completely anonymous – they feel their employer might be able to identify them</li><p>
   <li>Employees benefit more from an optional activity where they see the intrinsic value rather feeling forced into having to participate</li>
   </ul>
   </div>

    <div class="col-xs-12">
   
   <h5>Why is Mirror 360 your BEST choice for feedback and personal development?</h5>
   
   </div>
 
<div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
         <a style="color:#000000;font-size:17px; ">
        <div class="tile" style="background:#C0C0C0;padding: 26px;">           

     <h5>SIMPLE</h5>
      
       <li>Quick, painless</li>
       <li>Private</li>
       <li>Modeled after credit reports and scores</li>
       <li> Easy to interpret</li>
       <li> Get feedback from friends, coworkers, family, classmates, etc</li>
    
    </div>
      </a> 
   </div>
  <div class="col-xs-3" style="width: 20%;">
        <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 4px 16px 0px;">           

     <h5>VERY USEFUL</h5>
     
       <li>Identify unseen hurdles to personal and professional success and happiness</li>
       <li>Boost your emotional intelligence and self-awareness</li>
       <li>Discover the real views of the select few who impact you the most </li>
  </div>
       </a>   
        </div>

 <div class="col-xs-3" style="width: 20%;">
       <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 10px 10px 0px;">           

     
     <h5>INDEPENDENT</h5>
     
       <li> Purely a development tool</li>
       <li> Optional activity to safely  and honestly identify strengths & weaknesses</li>
       <li>Protects user privacy, completely separated from compensation or performance evaluation systems of any firm </li>
        </div>
       </a>          
 </div>

 

</div> <br>

 </div>  
</div>
 

	
	  
    </div>
    <!-- /.container -->
	