<table class="table table-bordered table-striped table-highlight">
  <thead>
  <tr>
  <th>Price</th>

  </tr>
  </thead>
  <tbody>
  <% @plans.each do |plan| %>
<tr>
  <td><%= plan.price %></td>
 <div id="paypal_checkout" style="display:none">
 <td> <%= link_to "Pay", new_subscription_path(:plan_id => plan.id) %>
 </td>
 </div>
 </tr>
 <% end %>
</tbody>
</table>
<%= link_to "Back", dashboard_index_path%>

