
<div id="content">


<div id="super_pricing">
<div class="all-plans-wrapper">
<div class="pricing-labels show_for_xlarge_only">
<div class="label price">Monthly<br>price</div>
<div class="label videos">Total<br>Videos</div>
<div class="label bandwidth">Monthly<br>bandwidth</div>
</div>
<div class="plans_group">
<div class="plan plan-0">
<div class="price">
<span class="amount">
<span class="monthly">0</span>
<span class="yearly">0</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
3
</div>
<div class="label">videos</div>
</div>
<div class="extra free">
<a href="http://fast.wistia.net/embed/iframe/sblihb5tux?autoPlay=true&amp;branding=true&amp;playerColor=81b7db&amp;popover=true&amp;version=v1&amp;videoHeight=360&amp;videoWidth=640" class="wistia-popover[height=360,playerColor=81b7db,width=640] branding">Player<br>Branding</a>
</div>
<div class="bandwidth">
<span class="amount">5</span>
<span class="label">GB</span>
<div class="label show_for_medium_screens">bandwidth</div>
</div>
</div>
<div class="create">
<a class="buy" href="http://wistia.com/free/new" id="js_free_buy">Create</a>
</div>
</div>
<div class="plan plan-1">
<div class="price">
<span class="amount">
<span class="monthly">25</span>
<span class="yearly">20</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
25
</div>
<div class="label">videos</div>
</div>
<div class="extra">
Unbranded
</div>
<div class="bandwidth">
<span class="amount">50</span>
<span class="label">GB</span>
<div class="label show_for_medium_screens">bandwidth</div>
</div>
</div>
<div class="create">
<a class="buy" href="https://buy.wistia.com/?plan_sku=twenty_five_20130912">Buy</a>
</div>
</div>
<div class="plan plan-2">
<div class="price">
<span class="amount">
<span class="monthly">50</span>
<span class="yearly">40</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
50
</div>
<div class="label">videos</div>
</div>
<div class="extra">
Unbranded
</div>
<div class="bandwidth">
<span class="amount">100</span>
<span class="label">GB</span>
<div class="label show_for_medium_screens">bandwidth</div>
</div>
</div>
<div class="create">
<a class="buy" href="https://buy.wistia.com/?plan_sku=fifty_20130912">Buy</a>
</div>
</div>
</div>
<div class="last plans_group">
<div class="plan plan-3">
<div class="price">
<span class="amount">
<span class="monthly">100</span>
<span class="yearly">80</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
Unlimited
</div>
<div class="label">videos</div>
</div>
<div class="extra">
Unbranded
</div>
<div class="bandwidth">
<span class="amount">200</span>
<span class="label">GB</span>
<div class="label show_for_medium_screens">bandwidth</div>
</div>
</div>
<div class="create">
<a class="buy" href="https://buy.wistia.com/?plan_sku=hundo_20130724">Buy</a>
</div>
</div>
<div class="plan plan-4">
<div class="price">
<span class="amount">
<span class="monthly">200</span>
<span class="yearly">160</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
Unlimited
</div>
<div class="label">videos</div>
</div>
<div class="extra">
Unbranded
</div>
<div class="bandwidth">
<span class="amount">500</span>
<span class="label">GB</span>
<div class="label show_for_medium_screens">bandwidth</div>
</div>
</div>
<div class="create">
<a class="buy" href="https://buy.wistia.com/?plan_sku=two_hundo_20130724">Buy</a>
</div>
</div>
<div class="plan plan-5">
<div class="price">
<span class="amount">
<span class="monthly">300</span>
<span class="yearly">240</span>
</span>
</div>
<div class="plan_options">
<div class="videos">
<div class="amount">
Unlimited
</div>
<div class="label">videos</div>
</div>
<div class="extra">
Unbranded
</div>
<div class="bandwidth high-volume">
<a href="http://wistia.com/pricing/highvolume">
<span class="amount">1 TB</span>
<span>and up</span>
<span><br>(see details)</span>
</a>
</div>
</div>
<div class="create">
<a class="buy" href="https://buy.wistia.com/?plan_sku=highvolume_mar2012">Buy</a>
</div>
</div>
</div>
<div class="billing-interval show_for_xlarge_only">
<div class="label">
<div class="save">Save 20%</div>
<div class="yep">by paying annually.</div>
</div>
<div class="choices">
<div class="choice">
<input id="yearly" name="billing" type="radio">
<label for="yearly">Annual <br>billing</label>
</div>
<div class="choice">
<input checked="checked" id="monthly" name="billing" type="radio">
<label for="monthly">
Month-by-<br>month
</label>
</div>
</div>
</div>
<div class="show_for_large_screens">

</div>


</div>
</div>


<script>
  $(document).ready(function(){
  
    var buyLinksArr = $('.plans_group .create a.buy:not(#js_free_buy), .small-pricing-matrix a.buy:not(#js_free_buy)');
    
    $('#yearly, #small_yearly').click(function(){
      $('#super_pricing').addClass('yearly-billing');
      buyLinksArr.each(function() {
        this.href = updateBillingQueryString(this.href, 'annual');
      });
    });
    $('#monthly, #small_monthly').click(function(){
      $('#super_pricing').removeClass('yearly-billing');
      buyLinksArr.each(function() {
        this.href = updateBillingQueryString(this.href, 'monthly');
      });
    });
  
    var updateBillingQueryString = function(link, interval) {
      if (/&billing=monthly/.test(link)) {
        return link.replace(/&billing=monthly/, '&billing=' + interval);
      } else if (/&billing=annual/.test(link)) {
        return link.replace(/&billing=annual/, '&billing=' + interval);
      } else {
        return link += '&billing=' + interval;
      }
    };
  
    // Free Option Tabby
  
    $('.pricing_options_nav li').hover(function(){
      if (!$(this).hasClass('selected')) {
        $('li.selected').removeClass('selected');
        $(this).addClass('selected');
        if ($(this).text().match(/trial/i)) {
          $('.content.free').hide();
          $('.content.trial').show();
        } else {
          $('.content.free').show()
          $('.content.trial').hide();
        }
        return false;
      }
    });
  });
</script>





</div>
	
	
	
	
	
	<script>
  $(document).ready(function(){
  
    var buyLinksArr = $('.plans_group .create a.buy:not(#js_free_buy), .small-pricing-matrix a.buy:not(#js_free_buy)');
    
    $('#yearly, #small_yearly').click(function(){
		
      $('#super_pricing').addClass('yearly-billing');
      buyLinksArr.each(function() {
        this.href = updateBillingQueryString(this.href, 'annual');
      });
    });
    $('#monthly, #small_monthly').click(function(){
      $('#super_pricing').removeClass('yearly-billing');
      buyLinksArr.each(function() {
        this.href = updateBillingQueryString(this.href, 'monthly');
      });
    });
  
    var updateBillingQueryString = function(link, interval) {
      if (/&billing=monthly/.test(link)) {
        return link.replace(/&billing=monthly/, '&billing=' + interval);
      } else if (/&billing=annual/.test(link)) {
        return link.replace(/&billing=annual/, '&billing=' + interval);
      } else {
        return link += '&billing=' + interval;
      }
    };
  
    // Free Option Tabby
  
    $('.pricing_options_nav li').hover(function(){
      if (!$(this).hasClass('selected')) {
        $('li.selected').removeClass('selected');
        $(this).addClass('selected');
        if ($(this).text().match(/trial/i)) {
          $('.content.free').hide();
          $('.content.trial').show();
        } else {
          $('.content.free').show()
          $('.content.trial').hide();
        }
        return false;
      }
    });
  });
</script>