<div class="row row_margin">
 
  <a href="<%= new_advice_contact_path %>">
 <div class="col-xs-3" style="width: 25%;">
          <div class="tile" style="background:#e74c3c;padding: 16px;">
	 <h4><div><span style="color:#FFFFFF;font-size:28px;"> Prelogin Tips</span></div></h4>

          </div>
        </div>
		<a>
<!-- 

		<a href="<%= new_ratingother_path %>">
		<div class="col-xs-3" style="width: 25%;">
          <div class="tile" style="background:#1E90FF;padding: 16px;">
		<h4><div><span style="color:#FFFFFF;font-size:28px;"> Prelogin Ratings</span></div></h4>
          </div>
        </div>
		<a>
		 -->
 
 </div>




