
<h5>How do you see yourself? Update your self-image.</h5>
<h6>Add or change your self-image ratings below - this is what you believe you deserve to get:
 </h6>
 <h6>(you can also use these as goals, and see how close you are getting)</h6>

<%= render 'form' %>
