<!-- 
Email: <%= @feedback.email %></br>
<p>Thank you for your feedback,we will soon look after that!</p> -->


Hello from Mirror 360!

 

We are trying to make the world a better place through self-awareness. By helping you uncover what may make you more successful. And helping those you know reach their highest potential.

 

[First name and Last Name of user A, in bold] has requested you to give [him/her, depending on gender selection] feedback:

 

Can you help me with some feedback? It will be truly anonymous and mixed in with feedback from others before I see it.  I would appreciate this very much. Here's a link.

 

Give Feedback: [trackable link to give feedback including relationship info, but ask to sign up at the end optionally]

 

If you use this link and also sign up at the end of giving feedback, BOTH of you will get an extra FREE anonymous tip!  You can also view your FREE Reputation Report and some of the anonymous tips (praise, criticism and general comments) that may be waiting for you. Or you can leave additional feedback for others, even without signing up.

 

Join us to make this world better!

 

Sincerely,

The Mirror 360 Team

 

Note: This email address cannot accept replies. For support, contact support@mirror360.com.

To unsubscribe: [Unsubscribe Link]