Hello!!!
You are invited to join our site!
<% if @ui.invite_for_curiosity == true %>
  <a href="http://m360.herokuapp.com/users/sign_up">Invitation</a>
  <a href="http://m360.herokuapp.com/users/sign_in">Feedback</a>
<% elsif  @ui.invite_for_curiosity.nil? %>
  <a href="http://m360.herokuapp.com/users/sign_up">Invitation</a>
<% else %>
  <a href="http://m360.herokuapp.com/users/sign_up">Feedback</a>
<% end %>
