<h5>Listing feedbacks</h5>
<table class="table table-bordered"> 
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.name %></td>
        <td><%= feedback.email %></td>
        <td><%= feedback.description %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
 
</table>



