<h4>Thank you!</h4>

We encourage you to give us feedback as often as you'd like <br> - don't spare our feelings.  After all we are all about unalloyed<br> feedback  - we should be able to take criticism well, right?! <br><br>



<div align="right" style="width: 40%; padding=12px"><%= link_to "Ok", root_path,:class => "btn btn-primary" %></div>