<h4>Your invites have been sent.</h4><br><br>

At any time during or after the FREE trial, you (or anyone else) can pay to<br> "sponsor" a list of people by their email addresses, and then be able to suggest a<br> set of custom factors for them to be rated on by colleagues.<br><br>

 

Before you view your Reputation Report and tips we will take you through a few<br> hands-on steps to make sure there is enough community participation and so you<br> get a feel for how this all works!  Try it for yourself and see.<br><br>

<div style="float:right;padding: 30px;"><%= link_to "Continue",indiv2_individuals_path,:class => "btn btn-primary" %></div>