<div class="row row_margin">
 
 <div class="col-xs-6">
          <div class="tile">
            

  <h4><%= link_to "Select Contacts" ,select_contacts_paste_users_path %></h4>

 (from all in your Mirror 360 list)

          </div>
        </div>
  
  
  <div class="col-xs-6">
          <div class="tile">
            
  <h4><a href="/import_social_contacts">"Import Contacts</a></h4>
 (from Facebook, Gmail, etc)
          </div>
    </div>
  
  
 
 </div>
<div class="row row_margin">
 
 <div class="col-xs-6">
          <div class="tile">
            
  <h4><%= link_to "Add New Contacts" ,new_paste_user_path ,'data-no-turbolink' => true%></h4>

 (you know their emails)

          </div>
        </div>
  
  
  <div class="col-xs-6">
          <div class="tile">
            

  <h4><a href="#">"Mirror Me" Button</a></h4>

 (on your website or blog)          </div>
        </div>
  
  
 
 </div>
