<%= javascript_include_tag "jquery-1.9.1.js"%>
 
 <h4> My Mirror </h4>

 <div class="row row_margin">
 
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 16px;">           
          <h6><%= link_to "Ratings" ,  new_rating_path ,:style=>"color:#FFFFFF;font-size:19px;", 'data-no-turbolink' => true %></h6>

        </div>
 </div>
  
 <div class="col-xs-3" style="width: 20%;">

       <a href="#" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#2E8B57 ;padding: 3px;">           

     <h6>Reputation Report and Score</h6>


        </div>
      </a> 
        </div>
    

    <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/tip" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E;padding: 16px;">           

     <h6>Give Feedback</h6>

        </div>
      </a> 


  </div>		
 
 </div>
 


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
         <a href="/relationships/power_group" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E;padding: 21px;">           

     <h6>Power Groups</h6>

        </div>
      </a> 


        </div>
  
    
    
  <div class="col-xs-3" style="width: 20%;">
        <a href="/tips/tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#1E90FF;padding: 21px;">           

     <h6>Tips</h6>

        </div>
      </a>   
        </div>
  

  <div class="col-xs-3" style="width: 20%;">
        <a href="#" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#2E8B57  ;padding: 9px;">           

     <h6>Participation stats</h6>

        </div>
      </a>    
        
  </div>    
 
 </div>


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
       <a href="#" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background: #2E8B57  ;padding: 12px;">           

     <h6>Progress Journal</h6>

        </div>
      </a>          
 </div>
  
    
    
  <div class="col-xs-3" style="width: 20%;">
        <a href="/paste_users/invite" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E;padding: 1px;">           

     <h6>Invite Others or Get Feedback</h6>

        </div>
      </a>
  </div>

  <div class="col-xs-3" style="width: 20%;">
    <a href="#" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#1E90FF;padding: 14px;">           

    <h6>Notification</h6>

    </div>
    </a>
  </div>   
 
 </div>
   
</div>
    