 <!-- <h1>New paste_user</h1> -->

<%= render 'form' %>

 <!-- <%#= link_to 'Back', paste_users_path %> -->

<!-- 
<%# form_for @paste_user do |f| %>
  <p>
    <%#= f.label :email, "Friend's email address" %><br />
    <%#= f.text_field :email %>
  </p>
  <p><%#= f.submit "Invite!" %></p>
<%# end %>
 -->