<%= form_tag select_contact_invitation_paste_users_path, :method => :post do %>
  <table class="table table-bordered">
  	<tr>
  		<th>Email</th>
  		<th>Send Feedback Invite</th>
  		<th>Send General Invite</th>
  	</tr>
  <%unless @users.nil?%>
    <% @users.each do |user| %>

      <tr>
         <td> <%= user rescue nil%>
         
         <!-- <td><%#= check_box_tag "feedback", 1, :checked %><br/> -->
         <!-- <td><%#= check_box_tag "invite" %><br/> -->

         
         <!-- <td><%#= radio_button_tag 'feedback', "1", false %></td>  -->
         <!-- <td><%#= radio_button_tag 'invite', "0", false %></td>  -->


        <!--  <td><%#= radio_button :sex , "feedback",:class=>"first-icon fui-radio-unchecked" %></td>
         <td><%#= radio_button :sex , "invite",:class=>"second-icon fui-radio-checked" %></td> -->

      
         <div class="toggle">
              <td><label><input type="radio" name="toggle",'feedback'></label></td>    
         </div>
         <div class="toggle">
              <td><label><input type="radio" name="toggle",'invite'></label></td>
         </div>
       




      </tr>
    <% end %>
  <%end%>
   	<%= hidden_field_tag "emails" , params[:emails] %>
  </table>
 <%= submit_tag "Send" ,:class => "btn btn-primary"%>
<% end %>

<script>
$('label').click(function(){
    $(this).children('span').addClass('input-checked');
    $(this).parent('.toggle').siblings('.toggle').children('label').children('span').removeClass('input-checked');
});
</script>


