

<% if !@contacts.empty? %>
  <%= form_tag complete_paste_users_path, :method => :post do %>

  <div class="field">
 Select Users : <br/>
   <select multiple="true" class="multiselect1" name="myselecttsms1" size= 20 id="select-toggle" style="width:300px;">
 	<% @contacts.each do |c| %>
     <option value="<%= c.email %>"> <%= c.email %></option>
    <% end %>
 </select>
  <a class="add">Add</a> |
   <a class="remove">Remove</a>
	<select multiple= true class="multiselect2" name="emails[]" size=20 selected="selected" id="mySelect" style="width:300px;" class="s">
	</select>
<br/>
 
  </div>

    <%= submit_tag "Continue", :id => "submit" ,:class => "btn btn-primary" %>
  <% end %>
<% end %>
<script type='text/javascript'>


jQuery('.add').on('click', function() {
   var options = jQuery('select.multiselect1 option:selected').sort().clone();
   var options1 = jQuery('select.multiselect2').append(options);
   jQuery('select.multiselect1').remove(jQuery('select.multiselect1 option:selected').remove());

});

jQuery('.remove').on('click', function() {
   var options = jQuery('select.multiselect2 option:selected').sort().clone();
    jQuery('select.multiselect1').append(options);
    jQuery('select.multiselect2 option:selected').remove();
});

jQuery('#select-toggle').each(function(){    
    var select = jQuery(this), values = {};    
    jQuery('option',select).each(function(i, option){
        values[option.value] = option.selected;        
    }).click(function(event){        
        values[this.value] = !values[this.value];
        jQuery('option',select).each(function(i, option){            
            option.selected = values[option.value];        
        });    
    });
});


// jQuery('#mySelect').each(function(){    
//     var select = jQuery(this), values = {};    
//     jQuery('option',select).each(function(i, option){
//         values[option.value] = option.selected;        
//     }).click(function(event){        
//         values[this.value] = !values[this.value];
//         jQuery('option',select).each(function(i, option){            
//             option.selected = values[option.value];        
//         });    
//     });
// });


jQuery('#submit').on('click', function() {
     var s1  = document.getElementById('mySelect');
    for(var i=0; i < s1.options.length; i++){
        s1.options[i].selected = true;
    }
});

</script>













<!-- 


<%#= form_tag select_contacts_paste_users_path, :method => :post do %>
 <table class="table table-bordered">
    <tr>
      <th>Email</th>
      <th>Invite</th>
      <th>Request Feedback</th>
      <th></th>
    </tr>

    <%# @contacts.each do |c| %>
      <tr>
       <td><%#= c.email %></td>
       <td><%#= check_box_tag "Invite", 1, :checked %><br/>
       <td><%# check_box_tag "Request Feedback" %><br/>
       <td><%#= link_to 'Give Feedback' %></td> 
      </tr>
    <%# end %>
</table>
<%#= submit_tag "Send", :id => "submit" ,:class => "btn btn-primary" %>
<%## end %>
 -->