<h5>Check History</h5>

<table class="table table-bordered"> 
<thead>
    <tr>
    	<th><strong>Tip Approved</strong></th>
       <th><strong>Tip Rejected</strong></th>

   
    </tr>
 </thead>
  <tbody>
   <% @tips.each do |tip|%>
        <%# if tip.email == current_user.email%>

      <tr>
      	
        <td><%= tip.tip_accept %></td>
         <td><%= tip.tip_reject %></td>
        
    </tr>
    <%# end %>
    <%end%>
   </tbody>
</table>