<h5>Rejected Tips</h5>

<% advice.each do |tip| %>
	<% if tip.email == current_user.email && tip.user_id != current_user.id %>
	<%= tip.criticism rescue nil%>
	<%= link_to 'Respond', new_response_tip_path(:id => tip.id)  %></br>
	<% response.each do |response| %>
	<% if tip.id == response.tip_id %>
	Response -  <%= response.response_for_tip %></br></br>
	<% end %>
	<% end %>
	<% end %>
	<% end %>
