<!-- <div class="col-xs-3" style="width: 20%;">
       <a href="<%= feedback_relationship_relationships_path %>" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#90EE90;padding: 10px;">           

     <h6>Review Someone - give tips and ratings</h6>

        </div>
      </a>
      </div>  -->


     <div class="col-xs-3"style="padding: 20px;">
          <a class="btn btn-block btn-lg btn-invite" style = "height: 119px" href="<%= feedback_relationship_relationships_path %>">Give feedback to someone<br>(tips and ratings)</a>
     </div> 

     <div class="col-xs-3"style="padding: 20px;">
          <a class="btn btn-block btn-lg btn-info" href="/tips/responses_to_your_tips">React to Responses to your Tips<br>(to clarify your feedback)</a>
     </div> 



<!-- <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/responses_to_your_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#ADD8E6;padding: 10px;">           

     <h6>I want to see the responses to my previous tips</h6>

        </div>
      </a>
      </div> 
       -->


   