<div class="col-xs-3" style="width: 20%;">
       <a href="/tips/tips_and_rating" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#90EE90;padding: 10px;">           

     <h6>Review Someone - give tips and ratings</h6>

        </div>
      </a>
      </div> 
    

<div class="col-xs-3" style="width: 20%;">
       <a href="/tips/responses_to_your_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#ADD8E6;padding: 10px;">           

     <h6>I want to see the responses to my previous tips</h6>

        </div>
      </a>
      </div> 
      