
<div class="row row_margin">
<!--  <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/helpful_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#008B8B;padding: 38.70px;">           

     <h6>Helpful Tips</h6>

        </div>
      </a>
      </div>  -->
   
     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="/tips/helpful_tips">Approved Tips<br>(More likely to be appropriate and helpful)</a>
  </div> 
    

        <div class="row row_margin">
     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-unheapful" href="/tips/unhelpful_tips">Sensitive Tips<br>(May be inappropriate or unhelpful)</a>
  </div> 
<!-- <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/unhelpful_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#696969;padding: 1px;">           

     <h6>Unhelpful Tips(Sensitive, may not be constructive)</h6>

        </div>
      </a>
      </div>  -->
</div><br><br><br>

     <div class="row row_margin">
 <div class="col-xs-3" style="width: 26%;">
         <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 49px;">           

     <h5>Personal</h5>
     <h4>Free</h4>
     10 tips/year<br>
     Private Report & Score<br>
     7 Std Factors<br>
       </div>
      </a> 
   </div>
  <div class="col-xs-3" style="width: 25%;">
        <a style="color:#000000;font-size:17px;">
        <div class="tile" style="background:#69C;padding: 1px;">           

     <h5>Pro</h5>

     <h4>$6.67/mo<br></h4>
      (billed annually, or $10/mo)<br>
        
      Unlimited tips<br>
      + Circle Score<br>
      5 Custom Factors<br>
      Power Group<br>
      Competency Library I<br>
     Sensitive access*<br>
   
        </div>
      </a>   
        </div>
      </div>