
<div class="row row_margin">
<!--  <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/helpful_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#008B8B;padding: 38.70px;">           

     <h6>Helpful Tips</h6>

        </div>
      </a>
      </div>  -->
   
     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-power" href="/tips/helpful_tips">Helpful Tips</a>
  </div> 
    

        <div class="row row_margin">
     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-unheapful" href="/tips/unhelpful_tips">Unhelpful Tips(Sensitive, may not be constructive)</a>
  </div> 
<!-- <div class="col-xs-3" style="width: 20%;">
       <a href="/tips/unhelpful_tips" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#696969;padding: 1px;">           

     <h6>Unhelpful Tips(Sensitive, may not be constructive)</h6>

        </div>
      </a>
      </div>  -->
</div>