<h5>Disclaimer</h5>
<div class="row row_margin">
     <div class="col-xs-3" style="width:60%">
          <a class="btn btn-block btn-lg btn-primary" >

There are 5 more of these tips that are available but not viewable at your access level.Upgrade using your M$ to view.
</a><br>
  </div><br>
</div>


<div class="row row_margin">

<div class="col-xs-3" style="width: 60%;">
  <div class="tile" style="background:#FFDAB9;padding: 30px;"> 
    <div style="color:#585858; font-size:15px; font-style: normal; text-align:left"class="just_reload"><b>DISCLAIMER &amp; WARNING:</b>  These are comments that at least 2 checkers found inappropriate or unhelpful.  This category is seen as having lower quality than approved comments, and is not shown by default.  It may include inappropriate or abusive language and unfair characterizations, so if you get upset easily, we strongly urge you to avoid the rejected comments.  Why do we make them available?  Many users who have significant experience in handling criticism want the option of viewing them because they believe that even the rejected comments may have some value if someone took the effort.  Click here only if you are mentally prepared for it.
    </div>
  </div>
  </div> 

</div>



<div class="row row_margin">
   <div class="col-xs-3"style="padding: 40px;">
          <a class="btn btn-block btn-lg btn-primary" href="/tips/helpful_tips">Back to Helpful Tips</a>
  </div>

   <div class="col-xs-3"style="padding: 45px;">
          <a class="btn btn-block btn-lg btn-rejected" href="/sensitive_tips">Sensitive Tips</a>
  </div> 
</div>


