
  
  <div class="row">
        <div class="col-xs-4">
          <a href="#"><img src="assets/logo.jpg" alt="" border="0" style="margin:10px 0"></a> </div>
    
    
        <div class="col-xs-8">
    
 
    <%= link_to 'Sign in',new_user_session_path,:class=>"btn btn-primary navbar-btn btn-xs", :style=>"float:right; margin-top:40px"%>
  
    </div>
        
      </div>
  
        <nav role="navigation" class="navbar navbar-inverse ">
            <div class="navbar-header">
              <button data-target="#navbar-collapse-01" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
              </button>
            </div>
            <div id="navbar-collapse-01" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">           
                <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Individuals</a></li>
        <li><a href="#fakelink">Organizations</a></li>
        <li><a href="#fakelink">Learn More</a></li>
        <li><a href="#fakelink">Learn More</a></li>
        <li><a href="#fakelink">Help Us Improve</a></li>
                
               
               </ul>
         
       
            </div><!-- /.navbar-collapse -->
          </nav>
     
    
    
    
    
    
    
  
    <!-- /.container -->
  
  